body{
    position: relative;
}




@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 50%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

   
}

@media(min-width: 992px)
{
    .youtube{
        height: 250px;
    }

    #user_name {
      
        /* visibility: hidden; */
        display: none;
    }
}

/* END NAVBAR */


.allbtn{
    background-color: #00284d;
    color:white;
}
/* START lOGIN PAGE */
.loginpage{
    margin-top: 10%;


}
.loginpage .input-group-text{
background-color: #00284d;

}
.loginpage .fa-unlock-alt, .fa-user{
color: #CD220F;;

}
.loginpage h2{
    font-family: Open sans,sans-serif;
    color:#CD220F;
    text-align: center;
    font-weight: 900;
    font-size:35px;
}
.loginpage button{
    background-color:#00284d;
    color:white;
    font-style: bold;
    margin:auto;
}


/* InDEXPAGE START */
  
.indeximg{
    /* display:block;
    margin-left: auto;
  margin-right: auto; */
 
}
.indeximg  img:hover{
width:16rem;
}


.indexbtn{
    background-color:#CD220F;
    color:white;
}

.indexbtn:hover{
    background-color:#00284d;

}

.indexsection{

}

.indexsection button a{
color:white;

}
/* END INDEX PAGE */

/* Registration Page */
.registform{
    /* position: relative; */
}


.footer{
    background-color:#c2ccd48a;
    color: black;
    text-align: center;
}
/* ENd FOOTER */



/* profile PAGE */

.profiletable {
    margin-left: auto; 
    margin-right: auto;
    border:none;
    
  }

  /* .profiletable tr {
   text-align: justify;
   padding-left:3px;
  } */
  
  

  .profilename{
      font-style: bold;
      color:#00284d;
      font-size: 25px;
      text-align: center;
      font-weight: 800;
      margin-top:3px;
  }
/* END PROFILE PAGE */

.card_image {
    margin-left: 42%;
    margin-top: -61px;
}

.card_image_format{
    width: 70;
    height: 70;
}

.footer-margin{
    margin-top: 20%;
}

.card_image2 {
    margin-left: 2%;
    /* margin-top: 0px; */
}

.text_color
{
    color: #0c4160;
}
.header_font{
    font-family: 'Montserrat', sans-serif;
    color: #0c4160;
    font-size: 3.7rem;
    line-height: normal;
}

.index_header{
    font-family: 'Montserrat', sans-serif;
}

.sub_heading{
    color: #db3e1f;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.background_color{
    background: #db3e1f;
 
    color: white !important;
    
}


.navabar_border{
    
    border-radius: 10px;


}

@media screen and (max-width: 991px) {
    .navbar_bg{
      background-color: #0c4160;
    }
    .login_back_img{
        background-image: url('../img/back1.png');
        background-repeat: no-repeat, repeat;
    }

    .heading_color{
        color: #f5f1f0 ;
    }

    .card_img_h{
        height: 93px !important;
    }

    .card_button{
        font-size: 2.5vw;
        padding: 3px;
    }
    .tabs_color{
       
     
        color: white !important;
        
    }
  }

  @media screen and (min-width: 991px) {
    .navbar_bg{
      background-color: #e9ecef;
    }

    .tabs_color{
        background: #db3e1f;
        margin-left: 5px;
        border-radius: 10px;
        width: 7rem;
        padding-top: 2px;
        padding-bottom: 2px;
   
      
     
        color: white !important;
        
    }

    
    .heading_color{
        color: #db3e1f ;
    }

   
  }

.logo_background{
    background: white;
    padding: 20px;
    border-radius: 50%;

}

.img_border{
    
    /* border: 3px solid #db3e1f; */
    border-radius: 20px;
    height: 256px;
}

.btn_border{ 
    /* border: 3px solid #db3e1f; */
    color: #db3e1f !important;
    border-radius: 15px;
    font-weight: bold;
    background: white;


   
}


a:hover {
    text-decoration: none;
  }

  .heading_margin{
    margin-top: 5% !important;
  }

.login{
    min-height: 100vh;
}
 
@media (max-width: 1199.98px) { 
    .login_margin {
        margin-top: 18% !important;
 }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .login_margin {
        margin-top: 18% !important;
    }
  }
.button_radius{
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    border-right: none;
    background-color: white;
    color: #CD220F !important;
    
}

.text_box_radius{
    font-size: 15px;
    width: 250px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    border-left: none;
    
}



.welcome{
    margin-top: 28%;
    
}
.welcome_size{
    font-size: 4vw;
}

.text_color_red{
    color: #db3e1f ;
}
.logo_height{
    height: 8rem;
}

.text_box
{
    height: 35px;
}

.button_logo{
  
    font-size: 19px;
}

.login_button{
    border-radius: 20px;
    color: white;
    
    background-repeat: repeat; 
    background-size:cover;
}

.text_height{
    line-height: 0;
}

.card_height{
    height: 18rem;
    
    border-radius: 30px;
}

.card_header{
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.card_footer{
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.card_border{
    border-radius: 30px;
}

.border_color{
    /* border-color: #db3e1f;
    border-width: initial; */
}
 
.circle_img{
    border-radius: 50%;
}
.wallet{
    height: 208px;
    width: 250px;
    margin-left: 16%;
}

.bg_red{
    background-color: #0e4261;
}

.button_red{
    background: #db3e1f;
}

.team_profile_logo{
    margin-top: -42px;
    width: 80px;
    height: 80px;
}

.logo{
    padding: 7px;
    width: 50px;
    background: #e9ecef;
}

